[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cinaR"]
	path = cinaR
	url = https://github.com/eonurk/cinar
	shallow = true
	registered = true
[submodule "cinaRgenesets"]
	path = cinaRgenesets
	url = https://github.com/eonurk/cinar-genesets
	shallow = true
	registered = true
[submodule "seAMLess"]
	path = seAMLess
	url = https://github.com/eonurk/seamless
	shallow = true
	registered = true
