[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cinaR"]
	path = cinaR
	url = https://github.com/eonurk/cinar
[submodule "cinaRgenesets"]
	path = cinaRgenesets
	url = https://github.com/eonurk/cinar-genesets
[submodule "seAMLess"]
	path = seAMLess
	url = https://github.com/eonurk/seamless
